body{
    background-image: url('https://images.unsplash.com/photo-1604342427523-189b17048839?q=80&w=1827&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    height: 100vh;
    width: 100%;
}

.box{
    width: 600px;
    height: 200px;
    position: relative;
    background-color: transparent;
}

.box > .background{
    background-color: #05000056;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
    border-radius: inherit;
    box-shadow: 3.5px 5px 8px 5px rgb(107, 110, 110);
}

.col > .button{
    text-align: center;
    padding: 0px 80px;
    color: #fff;
}

.col > form > .button{
    padding: 0.800em 5em;
    outline: none;
    border: none;
    background-color: #60a6b5 !important;
    color: #fff;
}

